<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .success{
            color: green;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Success!! Welcome {{ user.first_name }}!!</h1>
        <br>
        <p class="success">You have successfully {{status}}!!</p>
        <br>
        <p><a href="/logout">Logout</a>
    </div>
</body>
</html>